<body>
    <div class="container mt-5">
        <h2>GitHub Repo Search</h2>
        <form class="form search-form">
            <div class="mb-3">
                <label for="repo-search" class="form-label">Search GitHub Repositories:</label>
                <input class="form-control" type="text" id="repo-search">
            </div>
            <div class="mb-3">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </form>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody id="repo-results">
                <!-- Results will be displayed here -->
            </tbody>
        </table>
    </div>

    <!-- <script src="js/search.js"></script> -->