<body>
    <div class="container mt-4">
        <h1 class="text-center mb-4">{{userData.username}}'s Bug Bounties</h1>
        <div class="row">
<<<<<<< HEAD
            <!-- Side Panel -->
            <div class="col-md-3">
                <div class="list-group">
                    <a href="/dashboard" class="list-group-item-list-group-item-action">Bounty Board</a>
                    <a href="/feed" class="list-group-item-list-group-item-action">Bug Feed</a>
                    <a href="/reposearch" class="list-group-item-list-group-item-action">Search Repos</a>
                    <a href="/bugs" class="list-group-item-list-group-item-action">Most Wanted</a>
                </div>
            </div>
            
            <div class="bg"></div>
            <div class="bg bg2"></div>
            <div class="bg bg3"></div>
             <!-- Main Content -->
=======
           <!-- Side Panel -->
            {{> sidebar}}
    <!-- Main Content -->
>>>>>>> 66b1108ce9dd94888f58190d9e2249790a2071ff
    <div class="col-md-9">
      <div class="card-container">
        {{> bounties}}
      </div>
    </div>
  </div>
        </div>
    </div>
</body>
