<body>
    <div class="container mt-4">
        <h1 class="text-center mb-4">{{userData.username}}'s Bug Bounties</h1>
        <div class="row">
           <!-- Side Panel -->
            {{> sidebar}}
    <!-- Main Content -->
    <div class="col-md-9">
      <div class="card-container">
        {{#each bounties as |bounty|}}
        <div class="card mb-3">
          <h2>{{bounty.bug.issue_title}}</h2>
          <p>{{bounty.bug.issue_url}}</p>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
        </div>
    </div>
</body>
