<body>
    <div class="container mt-4">
        <h1 class="text-center mb-4">Followed Repos</h1>
        <div class="row">
            <!-- Side Panel -->
            {{> sidebar}}
            <!-- Main Content -->
            <div class="col-md-9">
                <!-- Cards for Issues -->
                <div class="card-container">
                    {{#each repos as |repo|}}
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">{{repo.repo_name}}</h5>
                            <p class="card-text">{{repo.repo_url}}</p>
                            <a href="/issues" class="btn btn-primary">See Issues</a>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</body>
