<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-3">
            <div class="list-group">
                <a href="/dashboard" class="list-group-item list-group-item-action">Bounty Board</a>
                <a href="/reposearch" class="list-group-item list-group-item-action" id="clear-repo-search">Search Repos</a>
                <a href="/bugs" class="list-group-item list-group-item-action">Most Wanted</a>
                <a href="/help" class="list-group-item list-group-item-action">Need Help?</a>
            </div>
            <script src="/js/clear.js"></script>
        </div>

        <!-- Main Content -->
        <div class="col-md-9">
            <header class="bg-primary text-white p-4">
                <h1 class="text-center">Help Center</h1>
            </header>

            <div class="container mt-4">
                <section id="getting-started" class="my-4">
                    <h2>Getting Started</h2>
                    <p>Welcome to our platform! Here's how to get started:</p>
                    <ol>
                        <li>Sign up for an account.</li>
                        <li>Login to the platform.</li>
                        <li>Explore our features.</li>
                    </ol>
                </section>

                <section id="faq" class="my-4">
                    <h2>Creating a Bounty</h2>
                    <div class="accordion" id="faqAccordion">
                    <ol>
                        <li>Search for a Github Repo.</li>
                        <li>Click the "See Issues" button to see outstanding bugs.</li>
                        <li>See if bug has a current bounty.</li>
                        <li>Set a bounty to get your bug squished.</li>
                    </ol>
                    </div>
                </section>

                <section id="contact" class="my-4">
                    <h2>Contact Support</h2>
                    <p>If you need further assistance or have any questions, don't hesitate to reach out to our support team:</p>
                    <ul>
                        <li>Email: <a href="mailto:support@example.com">support@example.com</a></li>
                        <li>Phone: +1-123-456-7890</li>
                    </ul>
                </section>
            </div>

            <footer class="bg-primary text-white p-2 text-center">
                <p>&copy; 2024 Bug Bounty Brokers. All rights reserved.</p>
            </footer>
        </div>
    </div>
</div>
