<style>
    body {
    font-family: 'JetBrains Mono', monospace;
    background-color: black;
    color: whitesmoke;
}

.container {
    margin-top: 5rem;
}

.card {
    color: black;
}

</style>
<body>
    <div class="container mt-4">
        <h1 class="text-center mb-4">Search Page</h1>
        <div class="row">
            <!-- Side Panel -->
            <div class="col-md-3">
                <div class="list-group">
                    <a href="/dashboard" class="list-group-item list-group-item-action">Bounty Board</a>
                    <a href="/feed" class="list-group-item list-group-item-action">Bug Feed</a>
                    <a href="/search" class="list-group-item list-group-item-action">Search Repos</a>
                    <a href="/bugs" class="list-group-item list-group-item-action">Most Wanted</a>
                </div>
            </div>

            <!-- Main Content -->
            <div class="col-md-9">
                <!-- Search Bar Form -->
                <form action="/search/" method="GET">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Search..." aria-label="Search" aria-describedby="basic-addon2" name="query">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">Search</button>
                        </div>
                    </div>
                </form>

                <!-- Search Results (Cards) -->
                <div class="result-container">
                    <!-- Result Card 1 -->
                    {{#each repositories as |repository|}}
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">{{repository.full_name}}<a href="#" class="btn btn-primary btn-sm ml-2">Follow</a></h5>
                            <p class="card-text">{{repository.description}}</p>
                            <a href="/issues" class="btn btn-primary">See Issues</a>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</body>
