<body>
    <div class="container-fluid splash-container">
        <img class="logo" src="https://i.kym-cdn.com/photos/images/original/000/029/994/trogdor.gif" alt="Bug Bounty Brokers Logo">
        <h1 class="title">Bug Bounty Brokers</h1>
        <p class="description">Let's Burninate some bugs!</p>
        <a class="btn btn-primary cta-button" href="/login">Get Started</a>
    </div>
</body>


