body {
  font-family: 'JetBrains Mono', monospace;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  
}

.custom-card{
  background-color: rgba(0, 128, 255, 0.986);
 
}
.card-text{
  font-weight: bolder;
  color: black;
  font-size: 20px;
}

.card-body a {
  color: blue; 
}

.custom-card p {
  /* You can customize the font style for paragraphs within the custom card */
  font-style: sans-serif;
}

#search-button {
  border-radius: 10px; 
}

.text-right-mb-4{
  color: black;
  font-size: 65px;  
  height: 25vh;
  margin: 35;
  margin-bottom: 10px;
  text-shadow: 3px 3px 5px white;
}

.col-md-9{
  align-items: center;
}

.container {
  margin-top: 5rem;
  text-align: center;
  
}

.form {
  max-width: 400px;
  margin: 0 auto;
}

.form label {
  display: block;
  margin-bottom: 0.5rem;
  text-align: left;
}

.form input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
}

.password-toggle {
  cursor: pointer;
}

.btn.btn-primary{
  border: solid 2px black;
  color: white;
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.content {
  background-color:rgba(255,255,255,.8);
  border-radius:5px;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}

h1 {
  font-family:monospace;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}

button {
  margin: 1rem;
}

.btn {
  background-color: var(--background-color);
  color: white;
  padding: .5em 1rem;
  border-radius: 10px;
  outline: none;
  position: relative;
  cursor: pointer;
  border: 5px black;

  --background-color: blue;
  --border-size: 2px;
  --accent-color: #0AF;
}

.btn.btn-primary::before {
  content: '';
  position: absolute;
 border-radius: 7px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-image: linear-gradient(to right ,#00aeff,yellow);

  transition: transform 300ms ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.btn.btn-primary:hover::before,
.btn.btn-primary:focus::before {
  transform: scaleX(1);
}

.btn.btn-primary{
  transition: color 300 ms ease-in-out;
  z-index: 1;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus {
  color: black;
}