body {
    font-family: 'JetBrains Mono', monospace;
    color: whitesmoke;
    text-align: center;
    margin: 0;
    padding: 0;
    background-image: repeating-radial-gradient( yellow , red); 
}

.splash-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.logo {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.title {
    font-size: 36px;
}

.description {
    font-size: 20px;
    color: black;
    margin-bottom: 30px;
}

*, *::before, *::after {
    box-sizing: border-box;
}

button {
    margin: 1rem;
}

.btn {
    background-color: var(--background-color);
    color: white;
    padding: .5em 1rem;
    border-radius: 10px;
    outline: none;
    position: relative;
    cursor: pointer;
    border: 2px black;

    --background-color: blue;
    --border-size: 2px;
    --accent-color: #0AF;
}

.btn.btn-primary-cta-button::before {
    content: '';
    position: absolute;
   border-radius: 7px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-image: linear-gradient(to left , yellow , red); 


    transition: transform 300ms ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
}

.btn.btn-primary-cta-button:hover::before,
.btn.btn-primary-cta-button:focus::before {
    transform: scaleX(1);
}

.btn.btn-primary-cta-button{
    transition: color 300 ms ease-in-out;
    z-index: 1;
}

.btn.btn-primary-cta-button:hover,
.btn.btn-primary-cta-button:focus {
    color: black;
}
